@page "/"

<h3>Dash</h3>

<div class="row">
    <div class="col-6">
        <ToDo HeaderName="Daily Task"></ToDo>
    </div>
    <div class="col-6">
        <ToDo HeaderName="Monthly Task">

        </ToDo>
    </div>
</div>





@code {

}
